#home{
	margin-top:60px;
	width:100%;
	height:100%;
}

#home #bike_details{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:10px 10px;
	height:500px;
	margin-top:100px;
	border:1px solid transparent;
}

#home #bike_details #left{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-left:0%;
	width:50%;
	height:100%;
	border:1px solid transparent;
}

#home #bike_details #left #title{
	width:500px;
	font-weight:400;
	font-size:64px;
	letter-spacing:5px;
	margin-bottom:30px;
}

/*#home #bike_details #left #specs{
	display:flex;
	align-items:center;
	background:black;
	border-radius:10px;
	width:max-content;
	padding:40px 0px;
	margin-top:10px;
}

#home #bike_details #left #specs #specs-child{
	border-width:0px 1px 0px 0px;
	border-color:white;
	border-style:solid;
	color:white;
	height:30px;
	display:flex;
	width:max-content;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding:0px 20px;
}

#home #bike_details #left #specs #specs-child p:nth-child(1){
	font-size:30px;
	width:max-content;
	margin:0;
	font-weight:400;
	letter-spacing:1px;
}*/

#home #bike_details #left p:nth-child(2){
	font-weight:400;
	font-size:14px;
	letter-spacing:2px;
}

#home #bike_details img{
	width:500px;
	height:100%;
}


#home #bike_details #left button{
	margin-top:20px;
	background:#582DBC;
	color:white;
	border:1px solid transparent;
	padding:10px 15px;
	cursor:pointer;
	width:max-content;
	letter-spacing:2px;	
}

#home #video{
	padding:10px 10px;
	height:max-content;
	width:100%;
	margin-top:50px;		
}

#home #video video{
	width:100%;
}

#home #video p:nth-child(1){
	margin-left:20px;
	margin-top:10px;
	font-size:40px;
	font-weight:400;
	position:absolute;
	color:white;
	letter-spacing:2px;
}

#home #video p:nth-child(2){
	margin-top:70px;
	font-size:20px;
	margin-left:20px;
	position:absolute;
	color:white;
	letter-spacing:2px;
}

#home #video p:nth-child(4){
	color:red;
	font-size:20px;
	margin-left:20px;
	transform:translateY(-100px);
	color:white;
	cursor:pointer;
	letter-spacing:2px;
}

#home #products_are{
	height:max-content;
	margin-top:20px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}

#home #products_are #details{
	display:flex;
	margin-top:30px;
	flex-direction:row;
	align-items:flex-start;
	justify-content:center;
	padding:10px 5px;
}

#home #products_are #details #left{
	width:80%;
	display:flex;
	flex-wrap:wrap;
}

#home #products_are #details #left #specs{
	width:50%;
	height:250px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border:1px solid white;
}


#home #products_are #details #left #specs #top{
	display:flex;
	align-items:flex-end;
}

#home #products_are #details #left #specs #inner-specs{
	display:flex;
	flex-direction:column;
	align-items:flex-end;
}

#home #products_are #details #left #specs #top img{
	width:60px;
	height:60px;
	margin-right:10px;
}

#home #products_are #details #left #specs #top p:nth-child(2){
	font-size:30px;
	margin-right:5px;
	color:#582DBC;
}

#home #products_are #details #left #specs #top p:nth-child(3){
	font-size:70px;
	color:#0001;
}

#home #products_are #details #left #specs #bottom{
	margin-top:10px;
	font-size:30px;
	font-weight:400;
	letter-spacing:2px;
}

#home #products_are #details #right{
	width:25%;
	border:1px solid transparent;
	display:flex;
	
}

#home #products_are #details #right video{
	width:100%;
	height:auto;
}

#home #products_are #details #right video source{
	width:100%;
	height:100%;
}

#home #models{
	margin-top:50px;
	padding:10px 0px;
	border:1px solid transparent;
	display:flex;
	flex-direction:column;
	
}

#home #future{
	margin:30px 0px 0px 0px;
	padding:30px 30px;
	display:flex;
	flex-direction:column;
	background:#582DBC;
	height:auto;
	justify-content:flex-start;
}

#home #future p:nth-child(1){
	font-size:30px;
	letter-spacing:2px;
	color:white;
}

#home #future p:nth-child(2){
	font-size:18px;
	letter-spacing:2px;
	color:white;
}

#home #future #repr{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	margin-top:50px;
}

#home #future #repr img{
	height:auto;
	width:30%;
}

#home #future #repr video{
	width:50%;
	height:auto;
}

#home #future #specs{
	margin-top:30px;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	
}

#home #future #specs #specs-inner{
	display:flex;
	align-items:flex-end;
}

#home #future #specs #specs-inner p:nth-child(1){
	font-size:70px;
	color:#fff5;
}

#home #future #specs #specs-inner p:nth-child(2){
	font-size:30px;
	color:white;
}

#home #most-sold{
	margin-top:50px;
}

#home #query{
	margin-top:50px;
	padding:10px 0px;
	display:flex;
	flex-direction:column;
}

#home #query div:nth-child(2){
	margin-top:50px;
	align-items:center;
	padding:10px 50px;
	height:500px;
	display:flex;
	justify-content:space-between;
	
}

#home #query div:nth-child(2) form{
	width:50%;
	border:1px solid transparent;
	height:90%;
	display:flex;
	flex-direction:column;
	
}

#home #query div:nth-child(2) form input[type="text"]{
	border:none;
	border-bottom:1px solid black;
	margin-bottom:20px; 
	padding-bottom:5px;
	letter-spacing:1px;
	width:60%;
	font-size:15px;
}

#home #query div:nth-child(2) form input[type="submit"]{
	width:max-content;
	padding:5px 20px;
	width:60%;
	text-align:center;
	border:none;
	background:none;
	color:#582DBC;
	letter-spacing:2px;
}

#home #query div:nth-child(2) img{
	width:500px;
	height:90%;
}

#home #facts{
	margin-top:50px;
	display:flex;
	flex-direction:column;
	padding-bottom:50px;
}

#home #facts #facts-inner{
	display:flex;
	width:100%;
	align-items:center;
	flex-direction:column;
	margin-top:50px;
}

#home #facts #facts-inner #question{
	margin-top:20px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:95%;
	padding:15px 20px;
	box-shadow:0px 1px 2px black;
	border-radius:5px 5px 0px 0px;
}

#home #facts #facts-inner #question p{
	font-size:20px;
	letter-spacing:1px;
}

#home #facts #facts-inner #question img{
	cursor:pointer;
	width:20px;
	height:15px;
}

@keyframes expand_query{
	from{opacity:0;height:0px;padding-top:0px;}
	to{opacity:1;height:100px;padding-top:15px;}
}

@keyframes diminish_query{
	to{opacity:0;height:0px;padding-top:0px;}
	from{opacity:1;height:100px;padding-top:15px;}
}

#home #facts #facts-inner #answer{
	overflow-y:scroll;
	height:0px;
	padding:0px 20px;
	letter-spacing:1px;
	width:95%;
	border:1px solid #0005;
	border-radius:0px 0px 5px 5px;
}

#home #facts #facts-inner #answer::-webkit-scrollbar{
	width:0px;
}



