#mycart{
	margin-top:100px;
}

#mycart #top{
	margin-top:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:20px;
}

#mycart #top #left{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:30%;
	letter-spacing:1px;
}

#mycart #top #left img{
	width:100px;
	height:100px;
	border-radius:100%;
}

#mycart #top #left p:nth-child(2){
	margin-top:10px;
}

#mycart #top #left p:nth-child(3){
	margin-top:20px;
}

#mycart #top #left p:nth-child(4){
	margin-top:5px;
}

#mycart #top #right{
	border-radius:10px;
	width:65%;
	height:550px;
	background:#e9e9e9;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#mycart #top #right #nav{
	border-radius:10px 10px 0px 0px;
	width:100%;
	background:#c4c4c4;
	display:flex;
	align-items:center;
	padding:10px 0px 0px 10px;
}

#mycart #top #right #nav button{
	letter-spacing:1px;
	margin-right:10px;
	border:none;
	border-radius:5px 5px 0px 0px;
	padding:10px 10px;
	font-size:18px;
	cursor:pointer;
}

#mycart #top #right #body{
	width:100%;
	height:80%;
	border:1px solid transparent;
	margin-left:0%;
}

#products_head{
	letter-spacing:1px;
	width:95%;
	margin-left:5%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}

#products{
	letter-spacing:1px;
	width:100%;
	height:80%;
	display:flex;
	overflow-x:scroll;
	align-items:flex-start;
	border:1px solid transparent;
}

#products #vehicle{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:auto;
	margin-right:30px;
}

#products::-webkit-scrollbar{
	width:0px;
}

#products #vehicle img{
	width:200px;
	height:200px;
	background:white;
	border-radius:10px;
	padding:5px 5px;
}

#products #vehicle p:nth-child(2){
	margin-top:10px;
	color:#582dbc;
}

#products #vehicle p:nth-child(3){
	margin-top:5px;
}

#products #vehicle p:nth-child(4){
	margin-top:10px;
	margin-bottom:30px;
}

#products #vehicle a{
	font-size:13px;
}

#maycart #products_head center{
	margin-top:0px;
	padding-bottom:30px;
}

#mycart #products_head center button{
	padding:10px 60px;
	letter-spacing:1px;
	font-size:15px;
	border:none;
	color:white;
	font-weight:500;
	background:#5c23dc;
}

#mycart #show{
	display:flex;
	padding-bottom:40px;
}

#mycart #show div:nth-child(1){
	width:35%;
} 

#mycart #show p{
	font-size:18px;
	letter-spacing:1px;
}

#payment{
	letter-spacing:1px;
	width:100%;
	height:100%;
	border:1px solid transparent;
	display:none;
	flex-direction:column;
	align-items:flex-start;
}

#payment #inner-box{
	width:100%;
	height:100%;
	display:flex;
	align-items:flex-start;
}

#payment #inner-box #left-nav{
	width:200px;
	height:100%;
	background:#c4c4c4;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	padding-top:40px;
}

#payment #inner-box #left-nav button{
	border:none;
	background:none;
	color:black;
	font-size:16px;
	margin:10px 0px 10px 20px;
	cursor:pointer;
	letter-spacing:1px;
}

#payment #inner-box #box{
	width:100%;
	height:100%;
	border:1px solid transparent;
}

#credit{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	margin-left:100px;
}

#credit p:nth-child(1){
	margin:0px 0px 50px 170px;
}

#credit input{
	margin-bottom:20px;
	margin-right:10px;
	padding:5px 5px;
	border:none;
	color:#0007;
}

#credit input:nth-child(2){
	width:400px;
	height:35px;
	letter-spacing:1px;
	font-size:15px;	
}

#credit div:nth-child(3) input:nth-child(1){
	width:200px;
	height:35px;
	letter-spacing:1px;
	font-size:15px;	
}

#credit div:nth-child(3) input:nth-child(2){
	width:200px;
	height:35px;
	letter-spacing:1px;
	font-size:15px;
}

#credit input:nth-child(4){
	width:200px;
	height:35px;
	letter-spacing:1px;
	font-size:15px;
}

#credit input:nth-child(5){
	width:400px;
	height:35px;
	letter-spacing:1px;
	font-size:15px;
}

#credit div:nth-child(6){
	display:flex;
	align-items:center;
	margin-bottom:30px;
}

#credit div:nth-child(6) p{
	margin:0;
}

#credit div:nth-child(6) input{
	margin:0px 15px 0px 0px;
}

#credit button{
	padding:10px 50px;
	background:#542dbc;
	color:white;
	border:none;
	letter-spacing:1px;
	font-size:15px;
}

#delivery,#debit,#net{
	width:100%;
	height:100%;
	display:none;
	flex-direction:column;
	align-items:center;
}


