#profile{
	margin-top:100px;
}

#profile #top{
	margin-top:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:50px;
}

#profile #top #left{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:30%;
	letter-spacing:1px;
}

#profile #top #left img{
	width:100px;
	height:100px;
	border-radius:100%;
}

#profile #top #left p:nth-child(2){
	margin-top:10px;
}

#profile #top #left p:nth-child(3){
	margin-top:20px;
}

#profile #top #left p:nth-child(4){
	margin-top:5px;
}

#profile #top #right{
	border-radius:10px;
	width:65%;
	height:500px;
	background:#e9e9e9;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#profile #top #right #nav{
	border-radius:10px 10px 0px 0px;
	width:100%;
	background:#c4c4c4;
	display:flex;
	align-items:center;
	padding:10px 0px 0px 10px;
}

#profile #top #right #nav button{
	letter-spacing:1px;
	margin-right:10px;
	border:none;
	border-radius:5px 5px 0px 0px;
	padding:10px 10px;
	font-size:18px;
	cursor:pointer;
}

#profile #top #right #body{
	width:95%;
	height:80%;
	border:1px solid transparent;
	margin-left:5%;
}

#subscribe{
	letter-spacing:1px;
	width:100%;
	height:100%;
	display:none;
	flex-direction:column;
	align-items:flex-start;
}

#account{
	letter-spacing:1px;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}

#account #detail{
	letter-spacing:1px;
	width:100%;
	display:flex;
	align-items:center;
	margin-bottom:20px;
}

#account #detail p:nth-child(1),#account #address #title{
	width:200px;
	text-align:right;
	margin-right:20px;
}

#account #detail p:nth-child(2){
	padding:10px 10px;
	width:350px;
	background:#c4c4c4;
}

#account #address{
	letter-spacing:1px;
	width:100%;
	display:flex;
	align-items:flex-start;
}

#account #address div:nth-child(2){
	padding:10px 10px;
	width:350px;
	background:#c4c4c4;
	display:flex;
	flex-direction:column;
}


#myorders{
	letter-spacing:1px;
	width:100%;
	height:100%;
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}

#profile #products{
	letter-spacing:1px;
	width:100%;
	height:100%;
	display:flex;
	overflow-x:scroll;
	align-items:flex-start;
	border:1px solid transparent;
}

#profile #products #vehicle{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:auto;
	margin-right:30px;
}

#profile #products::-webkit-scrollbar{
	width:0px;
}

#profile #products #vehicle img{
	width:200px;
	height:200px;
	background:white;
	border-radius:10px;
	padding:5px 5px;
}

#profile #products #vehicle p:nth-child(2){
	margin-top:10px;
	color:#582dbc;
}

#profile #products #vehicle p:nth-child(3){
	margin-top:5px;
}

#profile #products #vehicle p:nth-child(4){
	margin-top:10px;
	margin-bottom:30px;
}

#profile #products #vehicle a{
	font-size:13px;
}

#profile center button{
	padding:10px 60px;
	letter-spacing:2px;
	border:none;
	color:white;
	font-weight:500;
	background:#5c23dc;
}

